html {
  height: 100%;
  width: 100%;
}
 /* BASIC CSS */
.alex-brush-regular {
	font-family: "Alex Brush", cursive;
	font-weight: 400;
	font-size: 60px;
	font-style: normal;
}

.neuton-regular {
	font-family: "Neuton", serif;
	font-weight: 400;
	font-style: normal;
}

.neuton-bold {
	font-family: "Neuton", serif;
	font-weight: 700;
	font-style: normal;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #731f1a;
	color: #fff;
	padding: 10px;
	display: flex;
	align-items: center;
	text-align: center;
}
#logo {
	width: 15vw;
	cursor: pointer; 
	margin-right: 10px;
}

/* NAV BAR */
nav {
	position: sticky;
	top: 0;
	background-color: #f2e9e1;
	padding: 10px;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
nav ul li {
	display: inline-block;
	margin-right: 1vw;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	padding: 0.5%;
	transition: background-color 0.4s ease; 
}

nav ul li a {
	display: block; 
	margin: 2px;
	margin-left: 4px;
	margin-right: 4px;
	text-decoration: none;
	font-size: 20px;
	color: #333; 
	transition: color 0.4s ease;
}

nav ul li:hover {
	background-color:#731f1a;
}
nav ul li:hover a {
	color: white;
}

/* CONTENT CSS */
.catalog-container {
	display: flex; 
	flex-wrap: wrap;
	gap: 10px;
	padding: 20px;
}

.catalog-item {
	flex: 1 1 180px; /* Flex item properties */
	border: 1px solid #ccc;
	padding: 6px;
	text-align: center;
}
.catalog-item img{
	max-width: 170px;
	height: auto;
}

.masonry-container {
 column-count: 5;
 column-gap: 15px;
}
.masonry-item {
	display: inline-block;
	width: 100%;
	padding: 6px;
	text-align: center;
	border: 1px solid #ccc;
}
.masonry-item img {
 display:block;
 width: 100%;
}

@media only screen and (max-width: 700px) {
	.masonry-container {
	 column-count: 4;
	 column-gap: 15px;
	}
	#categories-list.show-menu {
		display: flex; /* Show the menu when the show-menu class is applied */
	}
	#menu-icon {
		cursor: pointer;
		visibility: visible;
		position: absolute; right: 5%;
	}
}

/*Responsive Design*/
@media only screen and (max-width: 529px) {
	.alex-brush-regular {
		font-size: 35px;
	}
	header {
		padding: 6px;
	}
	#logo {
		width: 20vw;
		margin-right: 6px;
	}
	nav {
		padding: 7px;
	}
	.masonry-container {
	 column-count: 3;
	 column-gap: 15px;
	}
}

/*Responsive Design*/
@media only screen and (max-width: 279px) {
	.alex-brush-regular {
		font-size: 15px;
	}
	header {
		padding: 6px;
	}
	#logo {
		width: 20vw;
		margin-right: 6px;
	}
	nav {
		padding: 4px;
	}
	.masonry-container {
	 column-count: 2;
	 column-gap: 15px;
	}
}
